h1{
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  color: #3c80bc;
}
#image1{
  width: 50%;
  height: auto;
}
#image2{
  width: 45%;
  height: auto;
}
@keyframes swageffect{
    0%  {color:pink;}
   25%  {color:yellow;}
   50%  {color:purple;}
   75%  {color:green;}
   100% {color:red;}
}
@-webkit-keyframes swageffect{
    0%  {color:pink;}
   25%  {color:yellow;}
   50%  {color:purple;}
   75%  {color:green;}
   100% {color:red;}
}
#HP{
  font-family: 'Pacifico', cursive;
  -webkit-animation-name: swageffect; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s;
  animation-name: swageffect;
  font-size: 60px;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
